@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 35;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr: #222327;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}


.startText ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.startText ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.startText ul li a .text
{
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 10em;
    letter-spacing: 0.05em;
    opacity: 0;
    transition: 0.5s;
    
}
.startText ul li:hover a .text
{
    opacity: 1;
    transform: translateY(30px);
}